.protoCol {
  width: 20vw;
}

.lengthCol {
  width: 10vw;
}

.ipCol {
  width: 25vw;
}

.tableContainer {
  height: 40vh;
  overflow-y: scroll;
}

.portCol { width: 10vw; }

.fixedHeader {
  position: absolute;
}

.fixedHeader tr th {
  background: black;
  color: white;
  font-weight: bold;
}
