.protoCol {
  width: 20vw;
}

.lengthCol {
  width: 10vw;
}

.ipCol {
  width: 20vw;
}

.tableContainer {
  height: 40vh;
  overflow-y: scroll;
}

.descriptionCol { width: 30vw; }

.fixedHeader {
  position: absolute;
}

.fixedHeader tr th {
  background: #555;
  border: none;
  color: white;
  font-weight: bold;
}
