.protoCol {
  width: 20vw;
}

.lengthCol {
  width: 10vw;
}

.ipCol {
  width: 20vw;
}

.tableContainer {
  height: 40vh;
  overflow-y: scroll;
}

.descriptionCol { width: 30vw; }

.fixedHeader {
  position: absolute;
  width: 100vw;
}

.filler { padding-top: 12px; padding-bottom: 12px; height: 40px; }

.fixedHeader tr th {
  padding-top: 8px;
  padding-bottom: 8px;
  background: #3f4757;
  border: none;
  color: #eeeeee;
  font-weight: bold;
}
